@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
body{
    color:red;
    font-family: 'Source Sans Pro', sans-serif;
}
/* normal container*/
.container{
    padding-left:1 rem;
    padding-right: 1 rem;
    border: 1px solid red;

}
.container-center{
    max-width:600px;
    margin:auto;
}

