@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
body{
    color:red;
    font-family: 'Source Sans Pro', sans-serif;
}

:root{
    --primary-color: #fb7185;

}
/* normal container*/
.container{
    padding-left:1 rem;
    padding-right: 1 rem;
    border: 1px solid red;

}
.container-center{
    max-width:600px;
    margin:auto;
}

/* Links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
    background-color:var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}
.link-secondary{
    color:var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}



