@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
body{
    color:red;
    font-family: 'Source Sans Pro', sans-serif;
}
hr{
    margin: 2.5rem 0rem;
}

:root{
    --primary-color: #fb7185;
    --dark-gray: #64748b;

}
/* normal container*/
.container{
    padding-left:1 rem;
    padding-right: 1 rem;
    border: 1px solid red;

}
.container-center{
    max-width:600px;
    margin:auto;
}

/* Links */
.link{
    text-decoration: none;
    list-style: none;
    padding: 0.5rem 1rem;
}
.link-primary{
    background-color:var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}
.link-secondary{
    color:var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* List component*/
.list-non-bullet{
    list-style: none;

}
.list-item-inline{
    display:inline;
    padding: 0rem 0.5rem;
}

/* Navigation */
.nav{
    background-color: var(--primary-color);
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.nav .nav-brand{
    font-weight: bold;
    font-size: 1.4rem;

}
.nav .link-active{
    font-weight: bold;
}
.nav .nav-pills{
    text-align: right;
}
.nav .link {
    color:white;
       
}

/* Header */
.header{
    padding: 2rem;
}
.hero .hero-img{
    max-width:350px;
    display: bock;
    margin:auto;

}
.hero .hero-heading{
   color:var(--dark-gray);
   padding: 1rem;
}
.hero .heading-inverted{
    color:var(--primary-color)

}




